<p>
    <mat-toolbar    class="mat-toolbar-main" #mattoolbar >
      <mat-button-toggle  class="menu-button"  [aria-label]="alertsEnabled ? 'Disable alerts' : 'Enable alerts'">
        <mat-icon>menu</mat-icon>
      </mat-button-toggle>
      <span>PeopleFirst</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>notifications</mat-icon>

      </button>
    </mat-toolbar>
  </p>
