<mat-card color="primary" class="mat-caed-main">
    <mat-card-header class="mat-card-header">
        <div class="mat-card-header-text">
            <mat-card-title fxlayout="column">
                <p class="card-header-text" >Emergency</p>
                <p class="card-header-text"></p>
                <p class="underline-text"></p>
                <p class="card-details"></p>
            </mat-card-title>
        </div>
        <mat-divider></mat-divider>
    </mat-card-header>
    <mat-card-content class="mat-card-content">
        <div fxlayout="row" fxlayoutalign="space-between end" >
            <div>Hello world</div>
            <div></div>

        </div>
    </mat-card-content>
</mat-card>
