<div class="navBar">
    <div class="toolbar" role="banner"  fxlayout="row"  fxLayoutAlign="center start"  fxLayoutGap="20px">
        <img
          width="50" 
          alt="kesari-round-logo"
          src="../assets/Photos/kesari-round-logo.png"
        />
        <!-- <span>Welcome</span> -->
        <img width="70"  src="../assets/Photos/kesari-text-logo.png" alt="kesari-text-logo">

    </div>
    <div class="searchBar">
      <form>
        <mat-form-field>
          <mat-icon  matPrefix class="searchIcon">search</mat-icon>
          <input matInput type="search" placeholder="Were do you wanted to go ?" name="search" 
          id="search" class="searchInput">
          <mat-icon  matSuffix class="CloseIcon">close</mat-icon>
        </mat-form-field>
      </form>
      
      
    <!-- </div> -->
    <!-- <div class="List"> -->
      <mat-nav-list class="navList"> 
        <a  mat-list-item  href="#">Group Tours</a>
        <a  mat-list-item  href="#">Speciality Tours</a>
        <a  mat-list-item  href="#">Experences</a>
        <a  mat-list-item  href="#">Tailormate Holidays</a>
        <a  mat-list-item  href="#">Deals</a>
        <a  mat-list-item  href="#">More</a>
      </mat-nav-list>

    </div>
    
</div>