<div  class="sidenav">
    <ul><li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        
    </li>
        <li><img src="../../assets/photo/home.svg" alt="logo"><button href="">Home</button></li>
        <li class="sidenav1"><button src="../../assets/photo/home.svg" href="">Home</button></li>
        <li class="sidenav2"><button  href="">My Profile</button></li>
        <li class="sidenav3"><button  href="">Personal Details</button></li>
        <li class="sidenav4"><button  href="">Leave and Attendence</button></li>
        <li class="sidenav5"><button  href="">Payroll</button></li>
        <li class="sidenav6"><button  href="">Reimbursement</button></li>
        <li class="sidenav7"><button  href="">Benefits</button></li>
        <li class="sidenav8"><button  href="">Diversity and Inclusion</button></li>
        <li class="sidenav9"><button  href="">Self Service</button></li>
        <li class="sidenav10"><button  href="">Coporate services</button></li>
        <li class="sidenav11"><button  href="">Travel and Guest House</button></li>
        
        <section>
            
            <div class="example-button-row">
              <div class="example-flex-container">
              
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                  <mat-icon>home</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon>perm_identity</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon>perm_identity</mat-icon>
                  </button>
              </div>
            </div>
          </section>
        
        <!-- <mat-nav-list>
            <mat-list-item *ngFor="let link of links" [activated]="link.isActive">
               <a matListItemTitle href="...">{{ link }}</a>
               <button mat-icon-button (click)="showInfo(link)" matListItemMeta>
                  <mat-icon>info</mat-icon>
               </button>
            </mat-list-item>
          </mat-nav-list> -->
          <div>
          <ul>
        <li><a href="">My Profile</a></li>
        <li><a href="">Personal Details</a></li>
        <li><a href="">Leave and Attendence</a></li>
        <li><a href="">Payroll</a></li>
        <li><a href="">Reimbursement</a></li>
        <li><a href="">Benefits</a></li>
        <li><a href="">Diversity and Inclusion</a></li>
        <li><a href="">Self Service</a></li>
        <li><a href="">Coporate services</a></li>
        <li><a href="">Travel and Guest House</a></li> 
     </ul>
</div>
